@using EntityLayer.Concrete
@model Feature
@{
    ViewData["Title"] = "AddFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-header border-0">
                    <h3 class="mb-0">Feature Informations</h3>
                </div>

                <form asp-controller="Feature" asp-action="AddFeature" method="post">

                    <div class="mb-3 col-9 center">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input class="form-control" asp-for="Title">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <br />

                    <div class="mb-3 col-9 center">
                        <label class="form-label" asp-for="Name">Name</label>
                        <input class="form-control" asp-for="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="mb-3 col-9 center">
                        <label asp-for="Header" class="form-label">Header</label>
                        <input class="form-control" asp-for="Header">
                        <span class="text-danger" asp-validation-for="Header"></span>
                    </div>

                    <div class="col-3 center"><button class="btn btn-primary">Insert</button></div>
                </form>
            </div>
        </div>
    </div>
</div>