@using EntityLayer.Concrete
@model Feature
@{
    ViewData["Title"] = "EditFeature";
    Layout = "~/Views/Shared/_CoronaAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Feature Informations</h4>

            <form class="forms-sample" asp-controller="Feature" asp-action="EditFeature" method="post">

                <div class="form-group">
                    <label class="form-label" asp-for="Header">Header</label>
                    <input class="form-control" asp-for="Header" value="@Model.Header">
                    <span class="text-danger" asp-validation-for="Header"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input class="form-control" asp-for="Name" value="@Model.Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input class="form-control" asp-for="Title" value="@Model.Title">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <button type="submit" class="btn btn-inverse-primary btn-fw">Submit</button>
                <a href="/Feature/Index/" class="btn btn-inverse-danger btn-fw">Cancel</a>
            </form>
        </div>
    </div>
</div>