@using EntityLayer.Concrete
@model Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_CoronaAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-controller="Service" asp-action="EditService" method="post">


                <div class="form-group">
                    <label class="form-label" asp-for="Title">Title</label>
                    <input class="form-control" asp-for="Title" value="@Model.Title">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="ImageUrl" class="form-label">Image Url</label>
                    <input class="form-control" asp-for="ImageUrl" value="@Model.ImageUrl">
                    <span class="text-danger" asp-validation-for="ImageUrl"></span>
                </div>
                <br />

                <button type="submit" class="btn btn-inverse-primary btn-fw">Submit</button>
                <a href="/Service/Index/" class="btn btn-inverse-danger btn-fw">Cancel</a>
            </form>
        </div>
    </div>
</div>