
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>

    <link rel="stylesheet" href="~/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="~/skydash/css/vertical-layout-light/style.css">

    <link rel="shortcut icon" href="~/skydash/images/favicon.png" />
</head>

<body>
    <div class="container-scroller"> 

        @await Html.PartialAsync("_NavbarPartial")

        <div class="container-fluid page-body-wrapper">

            @await Html.PartialAsync("_SideBarPartial")

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row"> 
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/skydash/vendors/chart.js/Chart.min.js"></script>
    <script src="~/skydash/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/skydash/js/dataTables.select.min.js"></script>

    <script src="~/skydash/js/off-canvas.js"></script>
    <script src="~/skydash/js/hoverable-collapse.js"></script>
    <script src="~/skydash/js/template.js"></script>
    <script src="~/skydash/js/settings.js"></script>
    <script src="~/skydash/js/todolist.js"></script>

    <script src="~/skydash/js/dashboard.js"></script>
    <script src="~/skydash/js/Chart.roundedBarCharts.js"></script>
</body>

</html>