@using EntityLayer.Concrete
@model Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_CoronaAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" asp-controller="Portfolio" asp-action="AddPortfolio" method="post">

                <div class="form-group">
                    <label class="form-label" asp-for="Name">Name</label>
                    <input class="form-control" asp-for="Name" placeholder="Name..">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <br />

                <div class="form-group">
                    <label asp-for="ProjectUrl" class="form-label">Project Url</label>
                    <input class="form-control" asp-for="ProjectUrl" placeholder="Project Url..">
                    <span class="text-danger" asp-validation-for="ProjectUrl"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFullUrl" class="form-label">Full Image Url</label>
                    <input class="form-control" asp-for="ImageFullUrl" placeholder="Image Full Url..">
                    <span class="text-danger" asp-validation-for="ImageFullUrl"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageShortUrl" class="form-label">Short Image Url</label>
                    <input class="form-control" asp-for="ImageShortUrl" placeholder="Image Short Url..">
                    <span class="text-danger" asp-validation-for="ImageShortUrl"></span>
                </div>

                <button type="submit" class="btn btn-inverse-primary btn-fw">Submit</button>
                <a href="/Portfolio/Index/" class="btn btn-inverse-danger btn-fw">Cancel</a>
            </form>
        </div>
    </div>
</div>