@using EntityLayer.Concrete
@model Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid mt-2">
    <div class="row">
        <div class="col">
            <div class="card">

                <div class="card-header border-0">
                    <h3 class="mb-0">Experience Informations</h3>
                </div>

                <form asp-controller="Experience" asp-action="EditExperience" method="post">

                    <div class="mb-3 col-9 center">
                        <label class="form-label" asp-for="Name">Name</label>
                        <input class="form-control" asp-for="Name" value="@Model.Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <br />

                    <div class="mb-3 col-9 center">
                        <label asp-for="Date" class="form-label">Date</label>
                        <input class="form-control" asp-for="Date" value="@Model.Date">
                        <span class="text-danger" asp-validation-for="Date"></span>
                    </div>

                    <div class="mb-3 col-9 center">
                        <label asp-for="Date" class="form-label">Description</label>
                        <input class="form-control" asp-for="Description" value="@Model.Description">
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="mb-3 col-9 center">
                        <label asp-for="ImageUrl" class="form-label">Image</label>
                        <input class="form-control" asp-for="ImageUrl" value="@Model.ImageUrl">
                        <span class="text-danger" asp-validation-for="ImageUrl"></span>
                    </div>

                    <div class="col-3 center"><button class="btn btn-primary">Edit</button></div>
                </form>
            </div>
        </div>
    </div>
</div>