<div class="row">

    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="row">

                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.SkillCount</h3>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="icon icon-box-success ">
                            <i class="mdi mdi-school"></i>
                        </div>
                    </div>

                </div>
                <h6 class="text-muted font-weight-normal">Skills</h6>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="row">

                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.ExperienceCount</h3>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="icon icon-box-primary ">
                            <i class="mdi mdi-arrange-bring-forward"></i>
                        </div>
                    </div>
                    
                </div>
                <h5 class="text-muted font-weight-normal">Experiences</h5>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.UnreadMessages</h3>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="icon icon-box-warning">
                            <i class="mdi mdi-email"></i>
                        </div>
                    </div>

                </div>
                <h5 class="text-muted font-weight-normal">Unread Messages</h5>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">@ViewBag.ReadMessages</h3>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="icon icon-box-info">
                            <i class="mdi mdi-email-open"></i>
                        </div>
                    </div>
                </div>
                <h5 class="text-muted font-weight-normal">Read Messages</h5>
            </div>
        </div>
    </div>

</div>